{{ define "content"}}

<div class="container-fluid p-0">
  <div class="hero">
    <h1>Award-Winning beers<br>
      <hr>
    <span>Brewed in Chinley</span></h1>
  </div>
  <section class="bottles col-12">
    <div class="row">
      <div class="col-6 col-md-2 p-2 mount-famine">
        <a href="#mountfamine">
          <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
          <span>Mount Famine</span>  
        </a>
      </div>
      <div class="col-6 col-md-2 p-2 downfall">
        <a href="#downfall">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <span>Downfall</span>
      </a>
      </div>
      <div class="col-6 col-md-2 p-2 the-naze">
        <a href="#thenaze">
          <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
          <span>The Naze</span>
        </a>
      </div>
      <div class="col-6 col-md-2 p-2 rough-rock">
        <a href="#roughrock">
          <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
          <span>Rough Rock</span> 
        </a>
      </div>
      <div class="col-6 col-md-2 p-2 brierley">
        <a href="#brierley">
          <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
          <span>Brierley</span> 
        </a>
      </div>
      <div class="col-6 col-md-2 p-2 kinder-stout">
        <a href="#kinderstout">
          <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
          <span>Kinder Stout</span>
        </a>
      </div>
    </div>
  </section>
  
  <section class="about"> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus. Pellentesque adipiscing commodo elit at. Ante in nibh mauris cursus mattis molestie a iaculis. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus. Pellentesque adipiscing commodo elit at. Ante in nibh mauris cursus mattis molestie a iaculis. </p>   
  </section>
  <p class="learn">Learn about our beers</p>
  <section class="beers">
    <div class="carousel">
      <div  class="carousel-container" id="mountfamine">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>Mount Famine</h2>
          <h3>West Pennine IPA. 5.5% ABV</h3>
          <p>Mount Famine, one of the hills that can be seen from the brewery, commands great views of Kinder Scout’s south west corner.</p>
          <p>This is our homage in beer to the West Coast IPA that sparked the American craft beer revolution.</p>
          <p>English Cascade hops give this refreshing beer a clean floral and fragrant flavour, with hints of orange and grapefruit.</p>
        </div>
      </div>
      <div class="carousel-container" id="downfall">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>Downfall</h2>
          <h3>Vibrant and hoppy Chinley Pale Ale  4.3%</h3>
          <p>Sitting on the Big Stone above the brewery there is a superb view of the Downfall.
          The Downfall is a spectacular waterfall on the edge of the Kinder Plateau. It is not 
          uncommon for the water to blow back up over the edge in strong winds.
          This is a wild and beautiful place that inspired the brewing of this full flavoured hoppy beer. </p>
        </div>
      </div>
      <div class="carousel-container" id="thenaze">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>The Naze</h2>
          <h3>Ginger snap Chinley Pale Ale 4.5%</h3>
          <p>Ginger was one of the first spices to be imported from Asia, arriving in Europe with the Spice Trade.
          There is always fresh ginger in the brewery for making a cup of ginger tea, so it seemed only right to 
          incorporate it into a brew. The result is a tangy ale with a fiery sharpness.</p>
        </div>
      </div>
      <div class="carousel-container" id="roughrock">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>Rough Rock</h2>
          <h3>Best Bitter in collaboration with <a href="https://www.old-hall-inn.co.uk/">The Old Hall Inn</a> 4.3%</h3>
          <p>Rough Rock, the high quality roofing and paving stone, was mined from the quarries of Cracken Edge until the 1920’s.  The quarries can be seen from both the brewery and the Old Hall Inn, two of the oldest dwellings in the Chinley valley and the inspiration for our classic Best Bitter collaboration.</p>
      </div>
      </div>
      <div class="carousel-container" id="brierley">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>Brierley</h2>
          <h3>Foraged blackberry Chinley Ale 4.1%  (Seasonal beer)</h3>
          <p>In late Summer the hedgerows around the brewery are tangled with blackberries providing a fruitful harvest for local walkers - and brewers!
            We’ve used the foraged blackberries to create an Autumn seasonal ale, the blackberry tartness adding deep complexity to the English hops.</p>
        </div>
      </div>
      <div class="carousel-container" id="kinderstout">
        <img src="/images/big-stone-beer-mount-famine.png" alt="Big Stone Beer Mount Famine">
        <div class="bottle-copy">
          <h2>Kinder Stout</h2>
          <h3>Dark and Bitter full bodied Stout 4.2%</h3>
          <p>The brewery is nestled in the foothills of Kinder Scout - the first ascent on the Pennine Way.
            In the Summer it is a lovely place for a stroll through the heather and cotton grass, but come Winter it is a landscape for the hardy few who are adept at using a compass, as when the clouds come down many have walked round in circles before finding their way down.
            This stout tastes all the better after a round of the plateau.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{{ end }}