{{ define "content"}}

<div class="container-fluid p-0 main-wrapper">
  <div class="hero">
    <h1>Award-Winning beers</h1>
    <img class="divider-img" src="/images/divider.svg" alt="divider" width="713" height="16">
    <h2>Brewed in Chinley</h2>
  </div>
  
  <section class="bottles">
    <div class="row action">
      <div class="p-2 mount-famine">
        <a href="#mountfamine" data-slide="1">
          <picture>
            <source srcset="/images/big-stone-beer_MOUNT-FAMINE.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_MOUNT-FAMINE.png" type="image/png"> 
            <img src="/images/big-stone-beer_MOUNT-FAMINE.png" alt="Big Stone Beer Mount Famine" width="700" height="1120">
        </picture>
          <span>Mount Famine</span>  
        </a>
      </div>
      <div class="p-2 downfall">
        <a href="#downfall" data-slide="2">
          <picture>
            <source srcset="/images/big-stone-beer_DOWNFALL.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_DOWNFALL.png" type="image/png"> 
            <img src="/images/big-stone-beer_DOWNFALL.png" alt="Big Stone Beer Mount Downfall" width="700" height="1120">
        </picture>
        <span>Downfall</span>
      </a>
      </div>
      <div class="p-2 the-naze">
        <a href="#thenaze" data-slide="3">
          <picture>
            <source srcset="/images/big-stone-beer_NAZE.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_NAZE.png" type="image/png"> 
            <img src="/images/big-stone-beer_NAZE.png" alt="Big Stone Beer The Naze" width="700" height="1120">
        </picture>
          <span>The Naze</span>
        </a>
      </div>
      <div class="p-2 rough-rock">
        <a href="#roughrock"data-slide="4">
          <picture>
            <source srcset="/images/big-stone-beer_ROUGH-ROCK.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_ROUGH-ROCK.png" type="image/png"> 
            <img src="/images/big-stone-beer_ROUGH-ROCK.png" alt="Big Stone Beer Rough Rock" width="700" height="1120">
        </picture>
          <span>Rough Rock</span> 
        </a>
      </div>
      <div class="p-2 brierley">
        <a href="#brierley" data-slide="5">
          <picture>
            <source srcset="/images/big-stone-beer_BRIERLEY.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_BRIERLEY.png" type="image/png"> 
            <img src="/images/big-stone-beer_BRIERLEY.png" alt="Big Stone Beer Brierley" width="700" height="1120">
        </picture>
          <span>Brierley</span> 
        </a>
      </div>
      <div class="p-2 kinder-stout">
        <a href="#kinderstout" data-slide="6">
          <picture>
            <source srcset="/images/big-stone-beer_KINDER-STOUT.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_KINDER-STOUT.png" type="image/png"> 
            <img src="/images/big-stone-beer_KINDER-STOUT.png" alt="Big Stone Beer Kinder Stout" width="700" height="1120">
        </picture>
          <span>Kinder Stout</span>
        </a>
      </div>
      <div class="p-2 no-ones-fool">
        <a href="#noonesfool" data-slide="7">
          <picture>
            <source srcset="/images/big-stone-beer_NO-ONES-FOOL.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_NO-ONES-FOOL.png" type="image/png"> 
            <img src="/images/big-stone-beer_NO-ONES-FOOL.png" alt="Big Stone Beer No Ones Fool" width="700" height="1120">
        </picture>
          <span>No One's Fool</span>
        </a>
      </div>
      <div class="p-2 white-rakes">
        <a href="#whiterakes" data-slide="8">
          <picture>
            <source srcset="/images/big-stone-beer_WHITE-RAKES.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_WHITE-RAKES.png" type="image/png"> 
            <img src="/images/big-stone-beer_WHITE-RAKES.png" alt="Big Stone Beer White Rakes" width="700" height="1120">
        </picture>
          <span>White Rakes</span>
        </a>
      </div>
      <div class="p-2 theres-the-rub">
        <a href="#therestherub" data-slide="9">
          <picture>
            <source srcset="/images/big-stone-beer_THERES-THE-RUB.webp" type="image/webp">
            <source srcset="/images/big-stone-beer_THERES-THE-RUB.png" type="image/png"> 
            <img src="/images/big-stone-beer_THERES-THE-RUB.png" alt="Big Stone Beer There's The Rub" width="700" height="1120">
        </picture>
          <span>There's The Rub</span>
        </a>
      </div>
    </div>
  </section>
  
  <section class="about"> 
    <p>Hand crafted beers from the heart of the Peak District. Our bottle conditioned beers are brewed using water from our own spring, which rises just below the Big Stone, and are suitable for Vegans. Deliveries within 5 miles of the Brewery in Cases of 12 Bottles, either Mixed or Single Beer. </p>
    <br><br>
    <h3>Available at:</h3>   
      <ul>
        <li><a href="https://chinleycheese.com/">Chinley Cheese - Chinley Post Office</a></li>
        <li>The Village Store in Hayfield</li>
        <li><a href="https://www.goytwines.com/">Goyt Wines - Whaley Bridge</a></li>
        <li><a href="https://www.facebook.com/Drink-Zone-Plus-257317794904216/">Drinkzone Plus - New Mills</a></li>
        <li><a href="https://raisethebarevents.co.uk/collections/local-beer">Raise The Bar - Chapel-en-le-Frith</a></li>
        <li><a href="https://beerdistrictbuxton.com/">Beer District - Buxton</a></li>
        <li><a href="https://www.portlandwine.co.uk/home#craft-ale">Portland Wines - Marple Bridge</a></li>
      </ul>
  </section>
  <p class="learn">Learn about our beers</p>
  <section class="beers" id="beers">
    <div class="carousel">
      <div  class="carousel-container" id="mountfamine">
        <picture>
          <source srcset="/images/big-stone-beer_MOUNT-FAMINE.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_MOUNT-FAMINE.png" type="image/png"> 
          <img src="/images/big-stone-beer_MOUNT-FAMINE.png" alt="Big Stone Beer Mount Famine" width="700" height="1120">
      </picture>
        <div class="bottle-copy">
          <h2>Mount Famine</h2>
          <h3>West Pennine IPA. 5.5% ABV</h3>
          <p>Mount Famine, one of the hills that can be seen from the brewery, commands great views of Kinder Scout’s south west corner.</p>
          <p>This is our homage in beer to the West Coast IPA that sparked the American craft beer revolution.</p>
          <p>English Cascade hops give this refreshing beer a clean floral and fragrant flavour, with hints of orange and grapefruit.</p>
        </div>
      </div>
      <div class="carousel-container" id="downfall">
        <picture>
          <source srcset="/images/big-stone-beer_DOWNFALL.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_DOWNFALL.png" type="image/png"> 
          <img src="/images/big-stone-beer_DOWNFALL.png" alt="Big Stone Beer Mount Downfall" width="700" height="1120">
      </picture>
        <div class="bottle-copy">
          <h2>Downfall</h2>
          <h3>Vibrant and hoppy Chinley Pale Ale  4.3% ABV</h3>
          <p>Sitting on the Big Stone above the brewery there is a superb view of the Downfall.
          The Downfall is a spectacular waterfall on the edge of the Kinder Plateau. It is not 
          uncommon for the water to blow back up over the edge in strong winds.</p>
          <p>This is a wild and beautiful place that inspired the brewing of this full flavoured hoppy beer. </p>
        </div>
      </div>
      <div class="carousel-container" id="thenaze">
        <picture>
          <source srcset="/images/big-stone-beer_NAZE.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_NAZE.png" type="image/png"> 
          <img src="/images/big-stone-beer_NAZE.png" alt="Big Stone Beer The Naze" width="700" height="1120">
      </picture>
        <div class="bottle-copy">
          <h2>The Naze</h2>
          <h3>Ginger snap Chinley Pale Ale 4.5% ABV</h3>
          <p>Ginger was one of the first spices to be imported from Asia, arriving in Europe with the Spice Trade.
          There is always fresh ginger in the brewery for making a cup of ginger tea, so it seemed only right to 
          incorporate it into a brew. The result is a tangy ale with a fiery sharpness.</p>
        </div>
      </div>
      <div class="carousel-container" id="roughrock">
        <picture>
          <source srcset="/images/big-stone-beer_ROUGH-ROCK.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_ROUGH-ROCK.png" type="image/png"> 
          <img src="/images/big-stone-beer_ROUGH-ROCK.png" alt="Big Stone Beer Rough Rock" width="700" height="1120">
      </picture>
        <div class="bottle-copy">
          <h2>Rough Rock</h2>
          <h3>Best Bitter in collaboration with <a href="https://www.old-hall-inn.co.uk/">The Old Hall Inn</a> 4.3%</h3>
          <p>Rough Rock, the high quality roofing and paving stone, was mined from the quarries of Cracken Edge until the 1920’s.  The quarries can be seen from both the brewery and the Old Hall Inn, two of the oldest dwellings in the Chinley valley and the inspiration for our classic Best Bitter collaboration.</p>
      </div>
      </div>
      <div class="carousel-container" id="brierley">
        <picture>
          <source srcset="/images/big-stone-beer_BRIERLEY.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_BRIERLEY.png" type="image/png"> 
          <img src="/images/big-stone-beer_BRIERLEY.png" alt="Big Stone Beer Brierley" width="700" height="1120">
      </picture>
        <div class="bottle-copy">
          <h2>Brierley</h2>
          <h3>Foraged blackberry Chinley Ale 4.1% ABV (Seasonal beer)</h3>
          <p>In late Summer the hedgerows around the brewery are tangled with blackberries providing a fruitful harvest for local walkers - and brewers!</p>
            <p>We’ve used the foraged blackberries to create an Autumn seasonal ale, the blackberry tartness adding deep complexity to the English hops.</p>
        </div>
      </div>
      <div class="carousel-container" id="kinderstout">
        <picture>
          <source srcset="/images/big-stone-beer_KINDER-STOUT.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_KINDER-STOUT.png" type="image/png"> 
          <img src="/images/big-stone-beer_KINDER-STOUT.png" alt="Big Stone Beer Kinder Stout" width="700" height="1120">
        </picture>
        <div class="bottle-copy">
          <h2>Kinder Stout</h2>
          <h3>Dark and Bitter full bodied Stout 4.2% ABV</h3>
          <p>The brewery is nestled in the foothills of Kinder Scout - the first ascent on the Pennine Way.</p>
            <p>In the Summer it is a lovely place for a stroll through the heather and cotton grass, but come Winter it is a landscape for the hardy few who are adept at using a compass, as when the clouds come down many have walked round in circles before finding their way down.</p>
            <p>This stout tastes all the better after a round of the plateau.</p>
        </div>
      </div>
      <div class="carousel-container" id="noonesfool">
        <picture>
          <source srcset="/images/big-stone-beer_NO-ONES-FOOL.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_NO-ONES-FOOL.png" type="image/png"> 
          <img src="/images/big-stone-beer_NO-ONES-FOOL.png" alt="Big Stone Beer No One's Fool" width="700" height="1120">
        </picture>
        <div class="bottle-copy">
          <h2>No One's Fool</h2>
          <h3>Gooseberry Chinley Hazy Ale 3.9% ABV</h3>
          <p>The Gooseberry can sometimes be found growing wild in copses and hedgegrows, but the Gooseberries in this hazy ale are grown in the kitchen garden next to the Brewery.</p>
          <p>We use this delicious fruit to create a hazy, amber coloured ale that has a fruity aroma with a crisp and invigorating taste.</p>
          
        </div>
      </div>
      <div class="carousel-container" id="whiterakes">
        <picture>
          <source srcset="/images/big-stone-beer_WHITE-RAKES.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_WHITE-RAKES.png" type="image/png"> 
          <img src="/images/big-stone-beer_WHITE-RAKES.png" alt="Big Stone Beer Whites Rakes" width="700" height="1120">
        </picture>
        <div class="bottle-copy">
          <h2>Whites Rakes</h2>
          <h3>Chinley Blonde Ale 5.0% ABV</h3>
          <p>The highest field above the Brewery is White Rakes, the name deriving from the old English for hill footpath. This field is the first to turn a wonderful golden colour as the sun rises.</p>
            <p>This golden blonde, easy drinking beer is smooth, with a well rounded balance of malt and hops.
          </p>
        </div>
      </div>
      <div class="carousel-container" id="therestherub">
        <picture>
          <source srcset="/images/big-stone-beer_THERES-THE-RUB.webp" type="image/webp">
          <source srcset="/images/big-stone-beer_THERES-THE-RUB.png" type="image/png"> 
          <img src="/images/big-stone-beer_THERES-THE-RUB.png" alt="Big Stone Beer There's The Rub" width="700" height="1120">
        </picture>
        <div class="bottle-copy">
          <h2>There's The Rub</h2>
          <h3>Rhubarb at it's best Chinley Pale Ale 3.9% ABV</h3>
          <p>Rhubarb grows profusely in the kitchen garden next to the brewery, so it made complete sense to try a rhubarb infused brew.</p>
          <p>Add in a few home grown red currants and the result is this tart and refreshing pale ale, perfect for drinking in the sunshine.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="story" id="story">
    <h2>The Big Stone Beer story</h2>
      <p>Adrian Porteous has always been a keen home brewer, enjoying both the craft of brewing and the taste of a good bottle conditioned beer.  Over the years he built a repertoire of brews and started giving different beers to friends and family on the one condition that they would give him honest feedback.  The vast majority of the feedback was positive and people even started asking if they could purchase his beer.</p>
      <p>In 2015 Maggie, Adrian’s wife, was casting around for a 50th birthday present for him and settled on a “Setting Up A Microbrewery Course” with brew-school.com in Bakewell.  The seed of an idea had been sown and over the years Adrian started thinking about setting up a Microbrewery in an old outbuilding in their garden.  The planning built to a crescendo and in early 2019 Adrian started the conversion of the old stone building. Once the flat roof had been repaired and the internal space had been upgraded to the specifications needed for a brewery Adrian completed the design of the brewing plant to fit the small space. The vessels were manufactured by a small company, Rossendale Sheet Metal, and Adrian then undertook the whole of the installation, including the plumbing and the electrical control systems.  By the end of the year the brewery was born.
      </p>
      <p>The first commercial beer was brewed on the 3 January 2020 – 636 pints of Downfall.  This brew was followed shortly afterwards with brews of Kinder Stout and The Naze.  Big Stone Beer was launched on Saturday 14 March 2020 at the Papermill Inn in Whitehough, with customers enjoying all 3 beers on draught.  It was a great success, but just over a week later the Covid 19 Lockdown was announced.</p>
      <p>Lockdown could have been a serious hurdle to a fledgling brewery.  It had always been the intention to sell both casks to Pubs and bottles to local shops, so with good stocks of bottled beers the decision was taken to start a local delivery service.  There was no shortage of customers who wanted a delivery of bottle conditioned beer to drink while enjoying the glorious weather in their garden. </p>
      <p>Big Stone Beer has now expanded it’s range with both seasonal beers using local produce and a number of other regular beers, including Rough Rock, a collaboration Best Bitter with <a href="https://www.old-hall-inn.co.uk/">The Old Hall Inn</a>.  The range is now stocked in bottles in a number of local shops, and on draught in local Pubs including <a href="https://www.old-hall-inn.co.uk/">The Old Hall Inn </a>in Whitehough.</p>

  </section>
  <section class="contact" id="contact">
    <h3 class="col-12 col-md-12">Get in touch</h3>
    
    <form name="contact" method="POST" data-netlify="true" netlify class="col-12 col-md-12 form">
      <div class="row">
      <div class="col-md-6">
        <label>Name <input type="text" name="name" /></label>
      </div>
      <div class="col-md-6">
        <label>Telephone <input type="tel" name="Telephone" /></label>
      </div>
      <div class="col-md-6">
        <label>Email <input type="email" name="email" /></label>
      </div>
      <div class="col-md-6">
        <label>Enquiry <textarea name="enquiry" cols="30" rows="7"></textarea>
      </div>
      <div class="col-md-6 offset-md-6">
        <button type="submit">Send</button>
      </div>
    </div>
    </form>
    <div class="social col-12 col-md-6 offset-md-1">
      <h3>Follow us</h3>
      <div class="icons">
        <a href="https://www.instagram.com/bigstonebeer/"><img src="/images/instagram.svg" alt="Instagram icon"width="40" height="40"></a>
        <a href="https://www.facebook.com/bigstonebeer/"><img src="/images/facebook.svg" alt="Instagram icon"width="40" height="40"></a>
      </div>
    </div>
  </section>
</div>

{{ end }}