<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ $style := resources.Get "css/main.scss" }} 
  {{ $style = $style | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <title>Big Stone Beer | {{ .Title }}</title>
</head>
